body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* Hero */
.hero-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 9%;
  padding-right: 8%;
  padding-top: 2em;
}

.hero-content {
  padding-left: 9%;
  padding-right: 9%;
  padding-top: 8%;
}

.hero-content-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  font-size: 40px;
}

.hero-caption {
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  font-size: 20px;
}

#hero {
  background: linear-gradient(
      rgba(228, 228, 228, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url('./images/dumplings.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 25%;
}

.hero-title {
  font-family: 'Nunito', sans-serif;
  font-weight: black;
  font-size: 100px;
  text-shadow: 3px 6px 8px #00000059;
}

.start-cooking-button {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.hero-login-button {
  margin-top: 2.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border: solid 2px grey;
  border-radius: 5px;
  color: grey;
  letter-spacing: 0.05em;
}

.hero-login-text {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: inherit;
}

.hero-login-button:hover {
  margin-top: 2.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border: solid 2px rgb(10, 196, 196);
  border-radius: 5px;
  letter-spacing: 0.05em;
  color: rgb(10, 196, 196);
  background: rgba(128, 128, 128, 0.315);
}

.hero-login-text:hover {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: inherit;
}

/*Auth forms*/
#auth-form-body {
  background: linear-gradient(
      rgba(228, 228, 228, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url('./images/dishes.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 25%;
}

#auth-form {
  max-width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 25px;
}

.form-header {
  margin: auto;
  margin-top: 10%;
  margin-bottom: 7%;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 40px;
}

.auth-major-title {
  font-family: 'Nunito', sans-serif;
  font-weight: black;
  font-size: 40px;
  text-shadow: 3px 6px 8px #00000059;
  padding-left: 5%;
  padding-top: 25px;
  color: rgb(0, 0, 0);
}

.auth-input-fields {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}

.auth-submit {
  margin: auto;
  margin-top: 5%;
  min-width: 100%;
}

.auth-submit-button {
  min-width: 100%;
  /* border: solid 5px; */
  cursor: pointer;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: 'Nunito', sans-serif;
  font-weight: black;
  font-size: 1.3em;
  font-weight: 600;
  border-radius: 20px;
  color: white;
  background: rgb(4, 173, 173);
  letter-spacing: 0.05em;
}

.auth-submit-button:hover {
  min-width: 100%;
  /* border: solid 5px; */
  cursor: pointer;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: 'Nunito', sans-serif;
  font-weight: black;
  font-size: 1.3em;
  font-weight: 600;
  border-radius: 20px;
  color: white;
  background: rgb(5, 134, 134);
  letter-spacing: 0.05em;
}

.signup-director {
  margin: auto;
  margin-bottom: 5%;
}

.signup-director-google {
  margin: auto;
  margin-top: 7%;
}

.signup-director-text {
  color: black;
  font-family: 'Nunito', sans-serif;
  font-weight: black;
  font-size: 1em;
  letter-spacing: 0.03em;
}
.signup-director-text:hover {
  color: black;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 0.03em;
}

.signup-director-text-google {
  color: black;
  font-family: 'Nunito', sans-serif;
  font-weight: black;
  font-size: 1.5em;
  letter-spacing: 0.03em;

  color: rgb(62, 134, 243);
}

.signup-director-text-google:hover {
  color: black;
  font-family: 'Nunito', sans-serif;
  font-weight: black;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0.03em;
  color: rgb(30, 91, 182);
}

.auth-error {
  margin: auto;
  margin-top: 15px;
  color: rgb(136, 18, 18);
}

.auth-minor-title {
  font-family: 'Nunito', sans-serif;
  font-weight: black;
  font-size: 25px;
  text-shadow: 3px 6px 8px #00000059;
  padding-left: 5%;
  color: rgb(0, 0, 0);
}

/* Main Navbar*/

.mainNav {
  border-bottom: solid rgb(202, 202, 202) 1px;
  box-shadow: 0px 0px 5px rgb(214, 214, 214);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 65px;
}

.navbar-main-title {
  font-family: 'Nunito', sans-serif;
  font-weight: black;
  font-size: 40px;
  text-shadow: 3px 6px 8px #00000059;
  padding-left: 5%;
  color: rgb(0, 0, 0);
  margin-top: 1em;
  min-width: 30%;
  padding-top: 3%;
}

.navbar-header-div {
  margin-left: 20px;
  margin-right: 20px;
}

.add-recipe-nav-form {
  margin-left: 8%;
  padding-left: 5%;
  min-width: 100%;
  border-left: solid rgb(202, 202, 202) 1px;
  padding-top: 2%;
}

.search-recipe-nav-form {
  margin-left: 8%;
  padding-left: 5%;
  padding-top: 4.13%;
}

.left-side-of-navbar {
  display: flex;
  flex-direction: row;
}

.main-nav-dropdown {
  margin-right: 40px;
}

/*Single Recipe*/
.recipe-header-section {
  max-width: 75%;
  margin: auto;
  border-bottom: solid 1px grey;
  margin-top: 2%;
  padding-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-and-site {
  max-width: 40%;
}

.title-and-site a {
  color: grey;
  font-size: 1em;
}

.title-and-site a:hover {
  color: grey;
  font-size: 1em;
  font-weight: bold;
  text-decoration: underline;
}

.recipe-img {
  max-width: 60%;
}

.recipe-title {
  padding-top: 3%;
  font-family: 'Nunito', sans-serif;
  font-weight: black;
  font-size: 40px;
}

.recipe-caption {
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  font-size: 18px;
}

.ingredients-and-instructions {
  max-width: 75%;
  margin: auto;
  margin-top: 2%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: row;
}

.recipe-instructions {
  max-width: 65%;
  margin-left: 5%;
}

.add-to-grocery-button {
  margin-top: 2.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border: solid 2px grey;
  border-radius: 5px;
  color: grey;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.add-to-grocery-text {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: inherit;
}

.add-to-grocery-button:hover {
  margin-top: 2.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border: solid 2px rgb(10, 196, 196);
  border-radius: 5px;
  letter-spacing: 0.05em;
  color: rgb(10, 196, 196);
  background: rgba(128, 128, 128, 0.315);
}

.add-to-grocery-text:hover {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: inherit;
}

.save-recipe-button {
  margin-top: 2.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border: solid 2px grey;
  border-radius: 5px;
  color: grey;
  letter-spacing: 0.05em;
  cursor: pointer;
  max-width: 60%;
}

.save-recipe-text {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: inherit;
}

.save-recipe-button:hover {
  margin-top: 2.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border: solid 2px rgb(10, 196, 196);
  border-radius: 5px;
  letter-spacing: 0.05em;
  color: rgb(10, 196, 196);
  background: rgba(128, 128, 128, 0.315);
}

.save-recipe-text:hover {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: inherit;
}

.save-recipe-div {
  max-width: 60%;
  margin-top: 2.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/*FOOTER*/

#main-footer {
  background-color: #0aa;
  color: white;
}

.footer-lists {
  display: flex;
  flex-direction: row;
  max-width: 80%;
  padding-top: 3%;
  margin-left: 5.2%;
}

.footer-list {
  margin-right: 5%;
}

.footer-list a {
  line-height: 1.8em;
  color: white;
  text-decoration: underline;
}

.footer-list a:hover {
  line-height: 1.8em;
  color: rgb(150, 150, 150);
}

.footer-list span {
  line-height: 1.8em;
  color: white;
  text-decoration: underline;
}

.footer-list span:hover {
  line-height: 1.8em;
  color: rgb(150, 150, 150);
  text-decoration: none;
}

.footer-list h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 1.6em;
}

.stay-connected {
  margin-left: 5.2%;
  padding-top: 30px;
}

.stay-connected h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 1.6em;
}

.social-links a {
  margin-left: 2em;
  color: white;
}

.social-links {
  margin-top: 1.6em;
}

.copyrights {
  margin-left: 5.2%;
  padding-top: 40px;
  padding-bottom: 30px;
}

/* GROCERY LIST MODAL */

.build-list {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 1.6em;
}

.grocery-modal-header {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 1.6em;
}

.build-list-caption {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  font-size: 1em;
}

.grocery-ingredient {
  display: flex;
  max-width: 80%;
  margin: auto;
  justify-content: space-between;
  border-bottom: solid 1px grey;
  padding-bottom: 1%;
  padding-top: 3%;
}

.grocery-ingredient h5 {
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  font-size: 1em;
}

.grocery-delete-icon {
  cursor: pointer;
}

.grocery-delete-icon:hover {
  cursor: pointer;
  color: red;
}

/* ALL RECIPES PAGE */
.all-recipes {
  max-width: 95%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

/* RECIPE BOX*/

.recipe-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sideBar {
  min-width: 269px;
  max-width: 269px;
  border-right: solid rgb(202, 202, 202) 1px;
  min-height: 90vh;
}

.sidebar-section {
  padding-top: 1em;
  padding-bottom: 1em;
  max-width: 80%;
  margin: auto;
  border-bottom: solid rgb(202, 202, 202) 1px;
}

.sidebar-header {
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  font-size: 1.5em;
  color: rgb(68, 68, 68);
  text-align: center;
}

.sidebar-header:hover {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: rgb(68, 68, 68);
  text-align: center;
}

.folder-header-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  font-size: 1.5em;
  text-align: center;
  padding-top: 1em;
}

.saved-recipes {
  max-width: 80%;
  margin: auto;
  margin-bottom: 2%;
  background: white;
}

.saved-recipe-header {
  text-align: center;
}
